body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

section{
    background-color: white;
}

.key {
    background-color: #076996;
    width: auto;
    height: 80vh;
    color: white;
    font-size: 30px;
    margin-inline: 0px;
}

footer {
    background-color: #076996;
    color: white;
    text-align: center;
    padding: 80px;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    width: 500 px;
    justify-content: space-around;
    font-size: 25px;
}

li {
    /*width: 200px; */ 
   text-decoration: none;
}

h1 {
    font-size: 90px;
    margin: 0px;
}

h2 {
    font-size: 30px;
}

/*maintext*/
.key-text{
    margin-left: 240px;
    margin-bottom: 700px;
}

p {
    margin: 0;
    font-size: 30px;
    font-weight: 300;
}

.key-section {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.button {
    width: 200px;
    height: 55px;
    border-radius: 30px;
    background-color: coral;
    text-align: center;
    font-weight: 300;
    padding-top: 5px;
    margin-top: 20px;
}

.button:hover {
    background-color: #ef744b;
}

.button.active {
    background-color: #a9a9a9;
    color: #808080
}

.socials {
    padding-bottom: 200px;
    margin-bottom: 190px;
}

/*profileshot*/
.logo {
    height: 200px;
    margin: 60px;
    box-shadow: 10px 5px 20px rgb(75, 74, 74);
}

.social {
    margin: 30px;

}

.sub-section1 {
    display: flex;
    justify-content: space-around;
    padding: 80px;
}

.sub-section2{
    font-size: 20px;
    background-color: #076996;
    display: flex;
    text-align: left;
    padding: 80px;
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

a1{
    text-decoration: none;
    color:#076996
}

.skills{
    margin-top: 0.3px;
}
